/* Navigation Bar part in css */
.nav {
    background-color:white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 25px;
    gap: 20px;
    margin: 0%;
    box-shadow: 0 -8px 0px 0 rgb(0 0 0 / 0%), 0 0px 16px 0 rgb(0 0 0 / 19%);
}

.nav .udemy-logo {
    width: 5rem;
    margin-right: 0.5rem;
}

.nav .otherImagesInNavBar {
    width: 1.5rem;
}


.nav a {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
a:hover {
    color: #5900cf;
}

.Categories {
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: normal;
    font-weight: bold;
}

.search-bar {
    border: #48494b 1px solid;
    border-radius: 50px;
    gap: 10px;
    width: auto;
    background-color:  #f7f9fa;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    width: 93%;
    background: transparent;
    border: none;
    outline: none;
    background-color:  #f7f9fa;
}

::placeholder{
    color:  black;
}

.search-bar button {
    border: 0;
    border-radius: 10%;
    width: 20px;
    height: 15px;
    background-color: whitesmoke;
    cursor: pointer;
}

.Submit {
    padding: 10px 15px;
    font-family: sans-serif;
    font-size: 0.7rem;
    font-weight:600;
    margin: -5px;
    font-size: medium;
    background-color: whitesmoke;
    border-radius: 0;
    backdrop-filter: blur(4px) saturate(180%);
}

.signup {
    color: white;
    background-color: black;
}

.lang {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 6px;
    margin: -5px;
    background-color: white;
    border: 1px black solid;
}
.lang:hover {
    background-color: #f7f9fa;
    cursor: pointer;
}

/* Second Part(Alarm) in css*/
.nav2 {
    background-color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    width: 99%;
    box-shadow: 0 -8px 0px 0 rgb(0 0 0 / 0%), 0 0px 16px 0 rgb(0 0 0 / 19%);
}

.nav2 .Dash2 { 
    width: 2.5rem;
}
.nav2 .udemy-logo2 {
    width: 6rem;
}

/*large screen */
.AlarmContainer {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.AlarmContainer .text {
    overflow: auto;
    background-color: white;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 30%;
    padding: 10px;
    padding-bottom: 30px;
    height: fit-content;
    width: 400px;
    box-shadow: 0 -8px 0px 0 rgb(0 0 0 / 0%), 0 0px 16px 0 rgb(0 0 0 / 19%);
}

.AlarmContainer .text .line {
    font-size: 20px;
    font-style: normal;
}

/*small screen */
.container2 {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.AlarmContainer2 {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.small-screen .text2 {
    overflow: auto;
    background-color: white;
    margin-top: 2%;
    margin-left: 190px;
    margin-right: 180px;
    padding: 0px;
    padding-bottom: 30px;
    height: fit-content;
    width: 400px;
    box-shadow: 0 -8px 0px 0 rgb(0 0 0 / 0%), 0 0px 16px 0 rgb(0 0 0 / 19%);
}

.small-screen .text2 .line {
    font-size: 20px;
    font-style: normal;
}


/*Third Part in css*/

.selection {
    padding-left: 1%;
    overflow: auto;
    height: fit-content;
}

.cources .paragraph {
    font-size: 20px;
    font-style: normal;
}

.cources {
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
}

.cources .python {
    border : black solid 0.3px; 
    padding: 10px;
}

.cources .python .ButtonPython {
    background-color: #F8F9F9;
    height: 55px;
    margin: 10px;
}

.cources .python .listOfPythonCources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
    gap:25px;
}

.cources .python .listOfPythonCources .courcesPhotos {
    width: 270px;
    height: 150px;
}

#instructor {
    color: gray;
}


@media only screen and (min-width: 1230px) {
    .cources .python .listOfPythonCources {
        justify-content: flex-start;
    }
    .cources .python .listOfPythonCources .courcesPhotos {
        width: 260px;
        height: 150px;
    }
    .cources .python .listOfPythonCources {
        gap: 30px;
        margin-left: 15px;
    }
}


@media only screen and (max-width: 1130px) {
    .Categories {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .big-screen {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .small-screen {
        display: none;
    }
}
